<!--The template system uses the dot-lookup syntax to access variable attributes. below {{question.question_text}}, first Django does a dictionary lookup on the object question, on failing this it tries a attribute lookup -which works here. If attribute lookup fails it would
have tried a list-index lookup -->



<!--We update this so that the template conatiand html <form> element-->

<h1>{{question.question_text}}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
	<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
	<label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
<br />
{% endfor %}
<input type="submit" value="Vote" />
</form>
